@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.main {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
